.hero {
  overflow: hidden;
}

.hero-caption {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.hero-caption > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}

.hero-caption > h2 {
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: 2.65rem;
}

.hero-caption > h3 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.hero-bg-img {
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.hero-gate-img {
  z-index: 3;
  position: absolute;
  left: 0;
  width: 100%;
}