.content {
    width: calc(100% - 4rem) !important;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.content-bg-img {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-cover-img {
    z-index: 2;
    padding: 0.75rem;
    aspect-ratio: 1;
}

.content-cover-img > img {
    width: 100%;
    max-width: 20rem;
}

.content > p {
    z-index: 2;
    font-size: 1rem;
    line-height: 1rem;
}

.content-direction-button {
    z-index: 2;
}

.content-direction-button > button {
    background-color: var(--primary);
    padding: 0.75rem 2rem;
    margin-bottom: 7.5rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10rem;
}